#draggablePanelList .panel-heading {
    cursor: move;
}

.top-buffer {
  margin-top: 20px;
}
.bottom-buffer {
  margin-bottom: 20px;
}
.delete-button {
  float: right;
}
.edit-button {
  float: right;
}
#hide-button {
    margin-right: 1em;
}
ul {
  min-height: 100px;
}
#show-button{
    display: none;
}
body{
    margin-top: 2em;
}
.buttons-container{
  position: relative;
  top: -12px;
}
